body {
  background: #000000;
}

header img {
  width: 15%;
}

.left {
  float: left;
  width: 50%;
}
.right {
  float: right;
  width: 30%;
}
.right img {
  width: 25%;
}
main{
  font-family: 'Alumni Sans Pinstripe', sans-serif;
  font-family: 'Courgette', cursive;
  font-family: 'Oooh Baby', cursive;
color: white;
}
